<app-hero-img [minimal]="true" class="h-100">

  <div class="text-center h-100 minimal-content" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="text-capitalize text-2r">Well This is embarassing!</h1>
    <h2 class="mb-4 text-1-25r">Something went wrong, while we were trying to process your request</h2>
    <h2 class="mb-4 text-1-25r">Try performing this action again or contact us</h2>
    <h3><a routerLink="/books" class="text-underline text-1r">Click here to return to home page</a></h3>
  </div>

</app-hero-img>
