<div class="toolbar">

  <mat-progress-bar *ngIf="routeLoading" class="app-progress-bar" color="accent" mode="indeterminate">
  </mat-progress-bar>
  <mat-toolbar color="primary">

    <span class="branding spacer branding-small center d-inline d-md-none">
      <span routerLink="">
        <img [src]="logoFull" />
      </span>
    </span>
    <span class="branding spacer d-none d-md-inline">
      <a routerLink="">
        <img [src]="logoFull" />
        <span class="ml-2 text-uppercase app-title">{{appName}}</span>
      </a>
    </span>

  </mat-toolbar>
</div>
