<div class="footer text-white">
  <div class="row">
    <div class="col-sm-12 links">
      <a href="#" target="_blank">
        <mat-icon fontSet="fab" fontIcon="fa-twitter"></mat-icon>
        <span>Twitter</span>
      </a>
      <!-- <a href="#" target="_blank">
        <mat-icon fontSet="fab" fontIcon="fa-youtube"></mat-icon>
        <span>Youtube</span>
      </a> -->
      <a href="#" target="_blank">
        <mat-icon fontSet="fab" fontIcon="fa-instagram"></mat-icon>
        <span>Instagram</span>
      </a>
      <a href="#" target="_blank">
        <mat-icon fontSet="fab" fontIcon="fa-facebook"></mat-icon>
        <span>Facebook</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 signature text-0-8r">
      <span>Copyright &#169; </span>
      <span class="year">{{year}}</span>
      <span class="text-capitalize"> {{orgName}} </span>
    </div>
  </div>
</div>
